akka {
  loglevel = "DEBUG"
  stdout-loglevel = "DEBUG"
  //log-config-on-start = on // not safe bruh
  actor {
    serializers {
      wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
    }
    serialization-bindings {
      "System.Object" = wire
    }
	debug {
	  receive = on 
	  autoreceive = on
	  lifecycle = on
      unhandled = on
	}
  }
}

akka.persistence{
    journal {
     plugin = "akka.persistence.journal.sql-server"
        sql-server {
            # qualified type name of the SQL Server persistence journal actor
            class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"

            # dispatcher used to drive journal actor
            plugin-dispatcher = "akka.actor.default-dispatcher"

            # connection string used for database access
            connection-string = "Server=tcp:akka-experiment-sqlserver.database.windows.net,1433;Initial Catalog=akka-experiment-sql;Persist Security Info=False;User ID=WimtAdministrator;Password=wimt1985!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"

            # default SQL commands timeout
            connection-timeout = 30s

            # SQL server schema name to table corresponding with persistent journal
            schema-name = dbo

            # SQL server table corresponding with persistent journal
            table-name = EventJournal

            # should corresponding journal table be initialized automatically
            auto-initialize = on

            # timestamp provider used for generation of journal entries timestamps
            timestamp-provider = "Akka.Persistence.Sql.Common.Journal.DefaultTimestampProvider, Akka.Persistence.Sql.Common"

            # metadata table
            metadata-table-name = Metadata
        }
    }

    snapshot-store {
     plugin = "akka.persistence.snapshot-store.sql-server"
        sql-server {

            # qualified type name of the SQL Server persistence journal actor
            class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"

            # dispatcher used to drive journal actor
            plugin-dispatcher = "akka.actor.default-dispatcher"

            # connection string used for database access
            connection-string = "Server=tcp:akka-experiment-sqlserver.database.windows.net,1433;Initial Catalog=akka-experiment-sql;Persist Security Info=False;User ID=WimtAdministrator;Password=wimt1985!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"

            # default SQL commands timeout
            connection-timeout = 30s

            # SQL server schema name to table corresponding with persistent journal
            schema-name = dbo

            # SQL server table corresponding with persistent journal
            table-name = SnapshotStore

            # should corresponding journal table be initialized automatically
            auto-initialize = on
        }
    }
}