<section class="row narrow-width align-center align-middle center-wrapper page-confirmed" show-if="!User.Identity.IsAuthenticated">
    <div class="columnn">
        <div class="text-center card">
            <h1>Your new TFN account has been created!</h1>
            <div>
                <i class="material-icons">done</i>
            </div>
            <p class="light-text">You can <strong>now sign in</strong> with your email and newly created password.</p>
            
            <!--
            <div class="row">
                <div class="column">
                    <a asp-route="SignIn" class="button expanded">
                        <span class="submit-btn-text">Sign in now</span>
                    </a>
                </div>
            </div> -->

        </div>
    </div>
</section>
