<div class="entry">
    <div class="header">
        <div class="container">
            <h2>Terms and Conditions ("Terms")</h2>
            <p>Last updated: November 10, 2016</p>
        </div>
        <div class="container note">
            <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the <a href="www.thefeedbacknetwork.com">www.thefeedbacknetwork.com</a> website (the "Service") operated by The Feedback Network Limited ("us", "we", or "our").</p>

            <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

            <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h3>Content</h3>
            <p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, audio, or other material ("Content"). You are responsible for the Content that you post to the Service, including its legality, reliability, and appropriateness.</p>
            <p>By posting Content to the Service, you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms.</p>
            <p>You represent and warrant that: (i) the Content is yours (you own it) or you have the right to use it and grant us the rights and license as provided in these Terms, and (ii) the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.</p>

            <h3>Accounts</h3>
            <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
            <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
            <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
            <p>You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trade mark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene. You expressly agree that we cannot be held liable for any loss or damage arising out of any misrepresentations you make in this regard.</p>

            <h3>Copyright Policy</h3>
            <p>We respect the intellectual property rights of others. It is our policy to respond to any claim that Content posted on the Service infringes the copyright or other intellectual property infringement ("Infringement") of any person.</p>
            <p>If you are a copyright owner, or authorized on behalf of one, and you believe that the copyrighted work has been copied in a way that constitutes copyright infringement that is taking place through the Service, you must submit your notice in writing to the attention of "Copyright Infringement" of team@thefeedbacknetwork.com and include in your notice a detailed description of the alleged Infringement.</p>
            <p>In cases where there are conflicting claims to the ownership of Copyright, it is our policy to air on the side of removing materials from our Service. Complaints under the Copyrights, Designs and Patents Act 1988, and European Commerce Directive 2000.</p>
            <p>If you wish to make a complaint/request that certain material be taken down, please send a request in writing to our Notice and Takedown Officer.</p>
            <p>We, The Feedback Network Limited, are committed to ensuring that the material displayed on our Service is lawful and in accordance with our UK and EU Copyright Law. To help us deal with your complaint as quickly as possible, please include the following information in your correspondence and mark it as <strong>"URGENT"</strong>:</p>

            <ul>
                <li><strong>Your contact details</strong> - including your name, email address and daytime telephone number.</li>
                <li><strong>Identify the material in question</strong> - please include sufficient detail to enable us to identify the material complained of. The reasons for your objection.</li>
            </ul>

            <p>We will review each objection on its merits and pending our inquiries, may remove or disable access to the relevant material from our Service.</p>
            <p>Where appropriate, you should include information relating to the status of the material in question (i.e. Where you hold a Trademark, or own the Copyright to an image). This will enable us to deal with your request promptly.</p>
            <p>You can contact our Notice and Takedown Officer via email at <a href="mailto:team@thefeedbacknetwork.com">team@thefeedbacknetwork.com</a></p>

            <h3>Intellectual Property</h3>
            <p>The Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of The Feedback Network Limited and its licensors. The Service is protected by copyright, trademark, and other laws of both the United Kingdom and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of The Feedback Network Limited.</p>
            <p>When you upload content, you give to The Feedback Network Limited a worldwide, non-exclusive, royalty-free, transferable licence (with right to sub-licence) to use, reproduce, distribute, prepare derivative works of, display, and perform that Content in connection with the provision of the Service and otherwise in connection with the provision of the Service and The Feedback Network Limited business.</p>

            <h3>Links To Other Web Sites</h3>
            <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by The Feedback Network Limited. The Feedback Network Limited has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that The Feedback Network Limited shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
            <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

            <h3>Termination</h3>
            <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
            <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

            <h3>Governing Law</h3>
            <p>These Terms shall be governed and construed in accordance with the laws of England and Wales, without regard to its conflict of law provisions.</p>
            <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

            <h3>Changes</h3>
            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
            <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you must stop using the service.</p>

            <h3>Privacy Policy and Cookie Policy</h3>
            <p>Please refer to our <a href="privacy.html">Privacy Policy</a> and Cookies Policy. You agree that they constitute part of these terms. You must read our Privacy Policy and Cookies Policy before you use the Service.</p>

            <h3>Contact Us</h3>
            <p>If you have any questions about these Terms, please contact us at <a href="mailto:team@thefeedbacknetwork.com">team@thefeedbacknetwork.com</a></p>
        </div>
    </div>
</div>