@using TFN.Api.UI.ChangePassword
@model TFN.Api.UI.ChangePassword.ChangePasswordViewModel

<div class="col l3 m8 s12 valign">

    <form asp-action="ChangePassword" id="change-password-form" novalidate>
        @Html.AntiForgeryToken()

        <div class="row">
            <h4 class="primary form-title">Pick a new password</h4>
        </div>

        <input asp-for="ValidationKey" type="hidden" />

        <div class="row">
            <div class="input-field">

                <input asp-for="Password" type="password" name="Password" id="Password" placeholder="Type your new password" autocomplete="off" autofocus tabindex="1">
                <label asp-for="Password" class="active">New password</label>

                <span asp-validation-for="Password" class="danger bold inline-server-error"></span>

            </div>
        </div>

        <div class="row">
            <div class="input-field">

                <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Please re-type your new password" autocomplete="off" tabindex="2">
                <label asp-for="ConfirmPassword" class="active">Confirm your new password</label>

                <span asp-validation-for="ConfirmPassword" class="danger bold inline-server-error"></span>

            </div>
        </div>

        <div class="row">
            <div class="col m6 s12">

                <button class="btn btn-block bg-primary" type="submit" name="Change Password" id="new-password-btn" tabindex="3">
                    <span class="submit-btn-text semi-bold">Change password</span>
                    @Html.Partial("_ButtonLoader")
                </button>

            </div>

            <div class="col m6 right-align addtional-info">
                <span class="text-light">Use old password. <a asp-route="Login" class="semi-bold" id="sign-up-link" tabindex="4" name="Cancel sign up and use old password"> Log in</a></span>
            </div>

        </div>

    </form>
</div>