<div class="center-card">
    <h1 class="card-title">Password changed!</h1>

    <p>Your password has changed. You can now use your new password to login into your TFN account.</p>
    <br />
    <div class="col m6 right-align addtional-info">
        <span class="text-light">Sign In <a asp-route="SignIn" class="semi-bold" id="sign-up-link" tabindex="4" name="Go sign in"> Sign In</a></span>
    </div>
</div>