<section class="valign-wrapper center-wrapper" id="page-changed-password">
    <div class="col l3 m8 s12 valign">

        <div class="text-center card">
            <h5 class="bold primary card-title">Password changed!</h5>
            <p class="light-text">Your password has changed and can now be used to login to your account.</p>
            <br />
            <a class="btn btn-block bg-primary" asp-route="SignIn">

                <span class="submit-btn-text">Log in</span>

            </a>
        </div>
    </div>

</section>