@model TFN.Api.UI.ForgotPassword.ForgotPasswordViewModel
<div class="login-page">
    <div class="page-header">
        <h1>Reset Password</h1>
    </div>

    @Html.Partial("_ValidationSummary")

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">TFN Password Reset</h3>
                </div>
                <div class="panel-body">

                    <form asp-route="ForgotPassword">

                        <fieldset>
                            <div class="form-group">
                                <label asp-for="ForgotPasswordEmail">Email</label>
                                <input class="form-control" placeholder="Email" asp-for="ForgotPasswordEmail" autofocus>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Reset Password</button>
                            </div>
                        </fieldset>
                        <div class="col m6 right-align addtional-info">
                            <span>You will receive an email with instructions on how to reset your password</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>